<section>
  <div class="dish-grid">
    <!-- <app-card>
      <img image src="/vegetable-curry.avif" alt="Vegetable Curry" />
      <h4 title>Vegetable Curry</h4>
      <p price>$12.95</p>
    </app-card>
    <app-card>
      <img image src="/marry-me-pasta-secondary.avif" alt="Marry me pasta" />
      <h4 title>Marry me pasta</h4>
      <p price>$15.95</p>
    </app-card>
    <app-card>
      <img image src="/french-onion-mac-and-cheese.avif" alt="French Onion Mac & Cheese" />
      <h4 title>French Onion Mac & Cheese</h4>
      <p price>$18.95</p>
    </app-card> -->
    <app-card *ngFor="let dish of featuredProducts()" [dish]="dish"></app-card>
  </div>
</section>
